asgiref==3.4.1
backports.entry-points-selectable==1.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
distlib==0.3.3
Django==3.2.8
django-admin-sortable2==1.0.2
django-ckeditor==6.1.0
django-cleanup==5.2.0
django-debug-toolbar==3.2.2
django-filter==21.1
django-jinja==2.9.1
django-jinja-bootstrap-form==4.3.4
django-js-asset==1.2.2
django-modeltranslation==0.17.3
django-phonenumber-field==5.2.0
django-rosetta==0.9.7
django-spurl==0.6.7
django-starfield==1.0.post2
django-treebeard==4.5.1
filelock==3.3.0
idna==3.2
Jinja2==3.0.2
MarkupSafe==2.0.1
packaging==21.0
phonenumbers==8.12.34
Pillow==8.3.2
platformdirs==2.4.0
pluggy==1.0.0
polib==1.1.1
py==1.10.0
pyparsing==2.4.7
python-dotenv==0.19.1
pytz==2021.3
requests==2.26.0
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.2
toml==0.10.2
tox==3.24.4
urllib3==1.26.7
URLObject==2.4.3
virtualenv==20.8.1
