{% extends 'base.html' %}
{% block title %}{{_('Форма входа')}}{% endblock %}
{% block content %}
<h1>{{_('Форма входа')}}</h1>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post"> {% csrf_token %}
            {{ form }}
        <div class="mb-3 form-check">
<input type="checkbox" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'">{{_(' Показать пароль') }}
  </div>

        <button type="submit" class="btn btn-primary">{{_('Войти') }}</button>
        </form>
    </div>
</div>


{% endblock %}