{% extends 'base.html' %}
{% block title %} {{_ ('Форма регистрации')}}{% endblock %}

{% block content %}
<h1>{{_ ('Форма регистрации')}}</h1>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post"> {% csrf_token %}
            <div class="mb-3 form-check">
            <p>{{ form.email }}</p>
                </div>
        <div class="mb-3 form-check">
            <p>{{ form.password }}</p>
<input type="checkbox" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'">{{ _(' Показать пароль')}}
  </div>
                    <div class="mb-3 form-check">
            <p>{{ form.password2 }}</p>
<input type="checkbox" onchange="document.getElementById('password2').type = this.checked ? 'text' : 'password'">{{ _(' Показать пароль')}}
  </div>
        <button type="submit" class="btn btn-primary">{{ _('Зарегистрироваться') }}</button>
        </form>
    </div>
</div>

{% endblock %}