{% extends 'base.html' %}
{% block title %} {{_ ('Форма регистрации')}}{% endblock %}

{% block content %}
<h1>{{_ ('Форма регистрации')}}</h1>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post"> {% csrf_token %}
            <div class="mb-3 form-check">
            <p>{{ form.as_p() }}</p>
                </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input"
               onclick="if (password.type == 'text') (password.type = 'password');
               else (password.type = 'text');
               if (password2.type == 'text') (password2.type = 'password');
               else (password2.type = 'text');">
        <label class="form-check-label">{{_(' Показать пароль') }}</label>
    </div>
        <button type="submit" class="btn btn-primary">{{ _('Зарегистрироваться') }}</button>
        </form>
    </div>
</div>

{% endblock %}