{% extends 'base.html' %}
{% block title %}{{ _('Редактирование статьи ') }}"{{ object.title }}"{% endblock %}
{% block content %}
<h1>{{ _('Редактирование статьи ') }}"{{ object.title }}" </h1>
<div class="row">
    <div class="col-md-4">
        <form action="{{ url ('article_update', object.slug) }}" method="post" enctype= multipart/form-data> {% csrf_token %}
            {{form.media}}
            {{ form }}
        <button type="submit" class="btn btn-primary">{{ _('Сохранить')}}</button>
        </form>
    </div>
</div>
{% endblock %}