{% extends "base.html" %}
{% load i18n %}
{% block title %} {{ object.title}} {% endblock title %}
{% load static %}


{% block content %}
<h1>{{ object.title }}</h1>
{% csrf_token %}
{%if object.preview_image%}
{% load thumbnail %}
{% thumbnail object.preview_image "300" as im %}
    <a href="{{ object.preview_image.url }}">
        <p><img src="{{ im.url }}" class="image-detail"></p>
    </a>
{% endthumbnail %}
{% endif %}
<p>{{object.category.name}}</p>
{{object.content.media}}
<p>{{ object.content|safe }}</p>
<p>{{ object.update_date }}</p>
<div class="row">
    <div class="col-md-4">
        <form action="{% url 'rating' object.slug%}" method="post" name="rating"> {% csrf_token %}
            {{ rating_form.media }}
            {{ rating_form}}
        <button type="submit" class="btn btn-primary"> {% trans 'Отправить' %}</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form action="{% url 'comment_create' object.slug %}" method="post"> {% csrf_token %}
            {{ form.media }}
            {{ form.as_p|safe }}
        <button type="submit" class="btn btn-primary"> {% trans 'Отправить' %}</button>
        </form>
    </div>
</div>
{% for obj in object_list %}
<div class="card">
  <div class="card-header">
{{ obj.author }} | {{ obj.create_date }}
  </div>
  <div class="card-body">
    <p class="card-text">{{ obj.comment|safe }}</p>
  </div>
</div>

{% endfor %}
{% include 'pagination.html' %}
{% endblock %}