{% extends "base.html" %}
 url_for('static')
{% block title %} {{ object.title}} {% endblock title %}
{% block sidebar %}
<aside style="float: left;
">
<h4 style="{
    background: #008B8B;
    color: #008B8B;
}">Рекомендуемые статьи</h4>
<br>
{% for item in recommended(request) %}
  <div class="card" style="width: 20rem;">
                    <div class="card-body">
            <h5>{% if item.preview_image %} <img class="lazyOwl" style="width: 5rem;" src="{{ item.preview_image.url }}" alt="image">{% endif %}
                <a href="{{ url('article_detail', item.slug) }}">{{ item.title }}</a></h5>
            <p>{{ _('Автор') }}: {{ item.author }}</p>
                       <p><small>{{ _('Средний рейтинг: ') }}{{ item.average_rating }}</small></p>
            <p><small>{{ _('Комментариев') }}: {{ item.comment_set.count() }} | {{ _('Лайков') }}: {{ item.likes }}</small></p>
            <p><small>{{ _('Дата публикации') }}: {{ str_time(item.create_date)}}</small></p>
                        <p><small>{{ _('Дата изменения') }}: {{ str_time(item.update_date)}}</small></p>
            <br>
            <p><button type="button" class="btn btn-outline-primary">{{ _('Подробнее') }}</button></p>
            <br>
                    </div>
                </div>
{% endfor %}
    </aside>
{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url ('home') }}">{{_('Блог')}}</a></li>
    {% for item in object.category.get_ancestors() %}
      <li class="breadcrumb-item"><a href="{{ url('home')}}?category={{item.pk}}">{{ item.name }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item"><a href="{{ url('home')}}?category={{object.category.pk}}">{{ object.category }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
  </ol>

<h1>{{ object.title }}</h1>
{% csrf_token %}
{% if object.preview_image %}
<p><img class="lazyOwl" src="{{ object.preview_image.url }}"></p>
{% endif %}


{% if object.author != request.user %}
<div class="row">
    <div class="col-md-4">
        <form action="{{ url ('like', object.slug) }}" method="post"> {% csrf_token %}
            {{ like_form }}
        <button type="submit" class="btn btn-primary">{{object.likes}}{{ button}}</button>
        </form>
    </div>
</div>
{% endif%}
<p>{{_('Автор: ')}}<a href="{{ url('home')}}?author={{object.author.pk}}&category=&title=&o=">{{object.author}}</a></p>
{% if object.author != request.user %}
<div class="row">
    <div class="col-md-4">
        <form action="{{ url('subscribes',object.slug,)}}" method="post" name="subscribes"> {% csrf_token %}

        <button type="submit" class="btn btn-primary"> {% if request.user.is_authenticated %}
            {%if object.author in request.user.subscribes.all()%}{{ _('Отписаться') }}
        {% else %}{{ _('Подписаться') }} {% endif%}{% elif not request.user.is_authenticated %}{{ _('Подписаться') }}  {% endif %}
        </button>
        </form>
    </div>
</div>
{% endif %}
<p>{{_('Категория: ')}}{{object.category.name}}</p>
<p>{{_('Количество лайков: ')}}{{object.likes}}</p>
<p>{{ object.content|safe }}</p>

<p>{{ str_time(object.update_date)}}</p>

{% if images %}
{% for obj in images %}
<img class="lazyOwl" style="width: 15rem;" src="{{ obj.image.url }}">
{% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-4">
        <form action="{{ url ('rating', object.slug)}}" method="post" name="rating"> {% csrf_token %}
            {{ rating_form}}
        <button type="submit" class="btn btn-primary"> {{ _('Отправить') }}</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form action="{{ url ('comment_create', object.slug) }}" method="post"> {% csrf_token %}
            {{ form.media }}
            {{ form|safe}}
        <button type="submit" class="btn btn-primary">{{ _('Отправить') }}</button>
        </form>
    </div>
</div>

{% for obj in object_list %}
<div class="card">
  <div class="card-header">
{{ obj.author }} | {{ str_time(obj.create_date) }}
  </div>
  <div class="card-body">
    <p class="card-text">{{ obj.comment|safe }}</p>
  </div>
</div>

{% endfor %}
{% include 'pagination2.html' %}
{% endblock %}