{% extends "base.html" %}
 url_for('static')
{% block title %} {{ object.title}} {% endblock title %}
{% block sidebar %}
<aside style="float: left;
">
<h4 style="{
    background: #008B8B;
    color: #008B8B;
}">Рекомендуемые статьи</h4>
<br>
{% for item in recommended(request) %}
  <div class="card" style="width: 20rem;">
                    <div class="card-body">
            <h5>{% if item.preview_image %} <img class="lazyOwl" style="width: 5rem;" src="{{ item.preview_image.url }}" alt="image">{% endif %}
                <a href="{{ url('article_detail', item.slug) }}">{{ item.title }}</a></h5>
            <p>{{ _('Автор') }}: {{ item.author }}</p>
                       <p><small>{{ _('Средний рейтинг: ') }}{{ item.average_rating }}</small></p>
            <p><small>{{ _('Комментариев') }}: {{ item.comment_set.count() }} | {{ _('Лайков') }}: {{ item.likes }}</small></p>
            <p><small>{{ _('Дата публикации') }}: {{ str_time(item.create_date)}}</small></p>
                        <p><small>{{ _('Дата изменения') }}: {{ str_time(item.update_date)}}</small></p>
            <br>
            <p><button type="button" class="btn btn-outline-primary">{{ _('Подробнее') }}</button></p>
            <br>
                    </div>
                </div>
{% endfor %}
    </aside>
{% endblock %}
{% block content %}
  <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url ('home') }}">{{_('Блог')}}</a></li>
    {% for item in object.category.get_ancestors() %}
        <li class="breadcrumb-item"><a href="{{ url('home')}}?category={{item.pk}}">{{ item.name }}</a></li>
    {% endfor %}
        <li class="breadcrumb-item"><a href="{{ url('home')}}?category={{object.category.pk}}">{{ object.category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
  </ol>
<h5>{{_('Категория: ')}}<a href="{{ url('home')}}?category={{object.category.pk}}">{{ object.category.name }}</a></h5>
<p>{{_('Автор: ')}}<a href="{{ url('home')}}?author={{object.author.pk}}&category=&title=&o=">{{object.author}}</a>
{% if object.author != request.user %}
<div class="row">
    <div class="col-md-4">
        <form action="{{ url('subscribes',object.slug,)}}" method="post" name="subscribes"> {% csrf_token %}
        {% if request.user.is_authenticated %}
        <button type="submit" class="btn btn-primary">
            {%if request.user in object.author.subscribes.all()%}{{ _('Отписаться') }}
        {% else %}{{ _('Подписаться') }} {% endif%}
        </button>
            {% elif not request.user.is_authenticated %}<a href="{{ url('login') }}?next={{request.get_full_path()}}">{{_('Войти')}}</a>{{ _(' чтобы подписаться на автора') }} {% endif %}
        </form>
    </div>
</div>
{% endif %}
</p>

<h1>{{ object.title }}</h1>
{% if object.author == request.user %}<a class="btn btn-outline-warning" href="{{ url('article_update', object.slug) }}">{{_('Редактировать')}}</a>{% endif %}
<br>
{% csrf_token %}
{% if object.preview_image %}
<p><img style="margin-top: 15px;" class="lazyOwl" src="{{ object.preview_image.url }}"></p>
{% endif %}
<div class="card" style="margin-top: 15px;" >
{% if object.author != request.user %}
<div class="row">
    <div class="col-md-4">
        <form action="{{ url ('like', object.slug) }}" method="post"> {% csrf_token %}
            <p>{{_('Количество лайков: ')}}{{object.likes}}</p>
            {% if request.user.is_authenticated %}
            {{ like_form }}
            <button type="submit" class="btn btn-primary">{{object.likes}}{{ button}}</button>
            {% else %}
            <p><a href="{{ url('login') }}?next={{request.get_full_path()}}">{{_('Войти')}}</a>{{ _(' чтобы лайкнуть статью') }}</p>
            {% endif%}

        </form>
    </div>
</div>
{% endif%}
    </div>
<br>

<p>{{ object.short_description }}</p>
<p>{{ object.content|safe }}</p>

<p>{{ str_time(object.update_date)}}</p>

{% if images %}
{% for obj in images %}
<img class="lazyOwl" style="width: 15rem;" src="{{ obj.image.url }}">
{% endfor %}
{% endif %}
<div class="card" style="margin-top: 15px;" >
<p>{{_('Средний рейтинг: ')}}{{ object.average_rating }}</p>
<div class="row">

    <div class="col-md-4">
        {% if request.user.is_authenticated %}
        <form action="{{ url ('rating', object.slug)}}" method="post" name="rating"> {% csrf_token %}
            {{ rating_form}}
        <button type="submit" class="btn btn-primary"> {{ _('Оценить') }}</button>
        </form>
                    {% elif not request.user.is_authenticated %}<a href="{{ url('login') }}?next={{request.get_full_path()}}">{{_('Войти')}}</a>{{ _(' чтобы оценивать статьи') }} {% endif %}

    </div>
</div>
</div>
<div class="row">
    <div class="col-md-4">
                    {% if request.user.is_authenticated %}
        <form action="{{ url ('comment_create', object.slug) }}" method="post"> {% csrf_token %}
            {{ form.media }}
            {{ form|safe}}
        <button type="submit" class="btn btn-primary">{{ _('Отправить') }}</button>
        </form>
         {% elif not request.user.is_authenticated %}<a href="{{ url('login') }}?next={{request.get_full_path()}}">{{_('Войти')}}</a>{{ _(' чтобы комментировать статьи') }} {% endif %}
    </div>
</div>
<br>
<h4>{{_('Комментарии')}}</h4>
{% if object_list %}
{% for obj in object_list.select_related('author', 'article') %}
<div class="card" style="margin-top: 15px; padding:20px;" >
  <div class="card-header">
{{ obj.author }} | {{ str_time(obj.create_date) }}
  </div>
  <div class="card-body">
    <p class="card-text">{{ obj.comment|safe }}</p>
  </div>
</div>

{% endfor %}
{%else%}
<p style="margin-top: 15px; padding:52px;">{{_('Здесь пока нет ни одного комментария. Вы можете быть первым)')}}</p>
{% endif %}
{% include 'pagination2.html' %}
{% endblock %}