{% extends "base.html" %}
{% block title %} Blog {% endblock title %}


{% block content %}
<form action="{{ url('home')}}" method="get" name="filter">
    <div class="left-side my-4">
        {{ filter.form }}
    </div>

    <button type="submit" class="btn btn-outline-primary">Найти</button>
</form>

<div class="left-ads-display col-lg-9">
        <div class="container">
            {% for obj in object_list %}
            <h3><a href="{{ url('article_detail', obj.slug) }}">{{ obj.title }}</a></h3>
            <p>{{ obj.short_description|safe }}</p>
            <p>{{ obj.author }} | {{ _('Средний рейтинг: ') }}{{ obj.average_rating }}</p>
            <p>{{ _('Дата публикации') }}: {{ obj.create_date }} | {{ _('Дата изменения') }}: {{ obj.update_date }}</p>
            <br>
            <p><button type="button" class="btn btn-outline-primary">{{ _('Подробнее') }}</button></p>
            <br>
            {% endfor %}
    {% include 'pagination.html' %}
        </div>
     </div>
{% endblock %}