{% extends "base.html" %}
{% block title %} Blog {% endblock title %}


{% block content %}
<form action="{{ url('home')}}" method="get" name="filter">
    <div class="left-side my-4">
        {{ filter.form }}
    </div>
    <button type="submit" class="btn btn-outline-primary">Найти</button>
</form>
<div class="left-ads-display col-lg-9">
        <div class="container">
            {% for obj in object_list.select_related('author', 'category') %}
            <h3><a href="{{ url('article_detail', obj.slug) }}">{{ obj.title }}</a></h3>
            <p>{{ obj.short_description|safe }}</p>
            <h6>{{_('Автор: ')}}<a href="{{ url('home')}}?author={{obj.author.pk}}&category=&title=&o=">{{obj.author}}</a></h6>
            <p>{{ _('Средний рейтинг: ') }}{{ obj.average_rating }}</p>
            <p><small>{{ _('Дата публикации') }}: {{ str_time(obj.create_date)}} | {{ _('Дата изменения') }}: {{ str_time(obj.update_date) }}</small></p>
            <br>
            <p><button type="button" class="btn btn-outline-primary">{{ _('Подробнее') }}</button></p>
            <br>
            {% endfor %}
    {% include 'pagination.html' %}
        </div>
     </div>
{% endblock %}