{% extends "base.html" %}
{% block title %} {{ request.user.email}} {% endblock title %}

{% block content %}

<div class="row" style="margin-top:50px;">
  <div class="col-sm-6">
      {% if request.user.avatar %}
    <div class="card" style="width: 30rem;" >
         <img class="lazyOwl" src="{{ request.user.avatar.url }}" alt="avatar">
        {% endif %}
      <div class="card-body" >
        <h5 class="card-title">{{ request.user.email }}</h5>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ _('Пользователь: ') }}</h5>
 {% if request.user.name and request.user.last_name  %}
<p>{{ request.user.name }} {{ request.user.last_name }}</p>{% endif %}
{% if request.user.phone %}
<p>{{_('Телефон: ')}}{{ request.user.phone}}</p>{% endif %}
      </div>
    </div>
  </div>
</div>



<div class="row" style="margin-top:50px;">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ _('Изменить данные профиля') }}</h5>
<form action="{{ url ('profile_update') }}" method="post" > {% csrf_token %}
            <p>{{profile_form.errors}}</p>
            <p>{{profile_form.name}} {{profile_form.last_name}}</p>
            <p>{{profile_form.phone}}</p>
            <p>{{profile_form.avatar}}</p>
        <button type="submit" class="btn btn-primary">{{ _('Готово') }}</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ _('Изменить пароль') }}</h5>
  <form action="{{ url ('password_change') }}" method="post" > {% csrf_token %}
            <p>{{form.errors}}</p>
            <p>{{ form.old_password }}</p>
            <p>{{ form.new_password1 }}</p>
            <p>{{ form.new_password2 }}</p>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input"
               onclick="if (old_password.type == 'text') (old_password.type = 'password');
               else (old_password.type = 'text');
               if (new_password1.type == 'text') (new_password1.type = 'password');
               else (new_password1.type = 'text');
               if (new_password2.type == 'text') (new_password2.type = 'password');
               else (new_password2.type = 'text')">
        <label class="form-check-label">{{_(' Показать пароль') }}</label>
    </div>
      <button type="submit" class="btn btn-primary">{{ _('Готово') }}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="left-ads-display col-lg-9">
        <div class="container" style="margin-top:100px;">

            <h2>{{ _('Мои статьи') }}</h2>
            <p><a class="btn btn-outline-success" href="{{ url('article_create') }}">{{_('Добавить статью')}}</a></p>
            {% if object_list %}
            {% for obj in object_list %}
                <div class="card" style="width: 60rem;">
                    <div class="card-body">
            <h3>{% if obj.preview_image %} <img class="lazyOwl" style="width: 5rem;" src="{{ obj.preview_image.url }}" alt="avatar">{% endif %}
                <a href="{{ url('article_detail', obj.slug) }}">{{ obj.title }}</a></h3><a href="{{url('article_update', obj.slug)}}">{{_('Редактировать')}}</a>
            <p class="card-body">{{ _('Описание') }}: {{ obj.short_description|safe }}</p>
            <p>{{ _('Автор') }}: {{ obj.author }} | {{ _('Средний рейтинг: ') }}{{ obj.average_rating }}</p>
                        <p><small>{{ _('Комментариев') }}: {{ obj.comment_set.count() }} | {{ _('Лайков') }}: {{ obj.likes }}</small></p>
                        <p><small>{{ _('Дата публикации') }}: {{ str_time(obj.create_date)}} | {{ _('Дата изменения') }}: {{ str_time(obj.update_date)}}</small></p>

            <br>
            <p><button type="button" class="btn btn-outline-primary">{{ _('Подробнее') }}</button></p>
            <br>
                    </div>
                </div>
            {% endfor %}
    {% include 'pagination2.html' %}
            {%else%}
            <p>{{_('У вас пока нет опубликованных статей...')}}</p>
            {% endif %}
        </div>
</div>

{% endblock %}