<form action="{{ url ('set_language')}}" method="post">
            {% csrf_token %}
            <select name="language" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option>{{ request.LANGUAGE_CODE}}</option>
                {% for code, language, path in available_languages (request) %}
                  <option value="{{path}}">{{ language }} ({{code }})</option>
                {% endfor %}
                {% if code == request.LANGUAGE_CODE %}
                selected
                {% endif %}
            </select>
        </form>