        <form action="" method="post"> {% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language %}
                {% get_available_language %}
                {% get_language_info_list %}
                {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                selected{% endif %}>
                    {{ language.name_local }} ({{language.code }})
                </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>

